[submodule "applications/editors/josm/core"]
  path = applications/editors/josm/core
  url = ../josm.git
  branch = master
[submodule "applications/editors/josm/plugins/grid"]
  path = applications/editors/josm/plugins/grid
  url = ../grid
  branch = master
[submodule "applications/editors/josm/plugins/landsat"]
  path = applications/editors/josm/plugins/landsat
  url = ../landsat
  branch = master
[submodule "applications/editors/josm/plugins/lang"]
  path = applications/editors/josm/plugins/lang
  url = ../lang
  branch = master
[submodule "applications/editors/josm/plugins/livegps"]
  path = applications/editors/josm/plugins/livegps
  url = ../livegps
  branch = master
[submodule "applications/editors/josm/plugins/mappaint"]
  path = applications/editors/josm/plugins/mappaint
  url = ../mappaint
  branch = master
[submodule "applications/editors/josm/plugins/namefinder"]
  path = applications/editors/josm/plugins/namefinder
  url = ../namefinder
  branch = master
[submodule "applications/editors/josm/plugins/nearclick"]
  path = applications/editors/josm/plugins/nearclick
  url = ../nearclick
  branch = master
[submodule "applications/editors/josm/plugins/osmarender"]
  path = applications/editors/josm/plugins/osmarender
  url = ../osmarender
  branch = master
[submodule "applications/editors/josm/plugins/plastic_laf"]
  path = applications/editors/josm/plugins/plastic_laf
  url = ../plastic_laf
  branch = master
[submodule "applications/editors/josm/plugins/slippymap"]
  path = applications/editors/josm/plugins/slippymap
  url = ../slippymap
  branch = master
[submodule "applications/editors/josm/plugins/surveyor"]
  path = applications/editors/josm/plugins/surveyor
  url = ../surveyor
  branch = master
[submodule "applications/editors/josm/plugins/tagging-preset-tester"]
  path = applications/editors/josm/plugins/tagging-preset-tester
  url = ../tagging-preset-tester
  branch = master
[submodule "applications/editors/josm/plugins/tways"]
  path = applications/editors/josm/plugins/tways
  url = ../tways
  branch = master
[submodule "applications/editors/josm/plugins/validator"]
  path = applications/editors/josm/plugins/validator
  url = ../validator
  branch = master
[submodule "applications/editors/josm/plugins/waypoints"]
  path = applications/editors/josm/plugins/waypoints
  url = ../waypoints
  branch = master
[submodule "applications/editors/josm/plugins/wmsplugin"]
  path = applications/editors/josm/plugins/wmsplugin
  url = ../wmsplugin
  branch = master
[submodule "applications/editors/josm/plugins/ywms"]
  path = applications/editors/josm/plugins/ywms
  url = ../ywms
  branch = master
