[submodule "applications/editors/josm/core"]
  path = applications/editors/josm/core
  url = ../josm.git
  branch = master
[submodule "applications/editors/josm/i18n"]
  path = applications/editors/josm/i18n
  url = ../i18n
  branch = master
[submodule "applications/editors/josm/plugins/00_plugin_dir_template"]
  path = applications/editors/josm/plugins/00_plugin_dir_template
  url = ../00_plugin_dir_template
  branch = master
[submodule "applications/editors/josm/plugins/ColumbusCSV"]
  path = applications/editors/josm/plugins/ColumbusCSV
  url = ../ColumbusCSV
  branch = master
[submodule "applications/editors/josm/plugins/Create_grid_of_ways"]
  path = applications/editors/josm/plugins/Create_grid_of_ways
  url = ../Create_grid_of_ways
  branch = master
[submodule "applications/editors/josm/plugins/DirectDownload"]
  path = applications/editors/josm/plugins/DirectDownload
  url = ../DirectDownload
  branch = master
[submodule "applications/editors/josm/plugins/DirectUpload"]
  path = applications/editors/josm/plugins/DirectUpload
  url = ../DirectUpload
  branch = master
[submodule "applications/editors/josm/plugins/ElevationProfile"]
  path = applications/editors/josm/plugins/ElevationProfile
  url = ../ElevationProfile
  branch = master
[submodule "applications/editors/josm/plugins/FixAddresses"]
  path = applications/editors/josm/plugins/FixAddresses
  url = ../FixAddresses
  branch = master
[submodule "applications/editors/josm/plugins/ImportImagePlugin"]
  path = applications/editors/josm/plugins/ImportImagePlugin
  url = ../ImportImagePlugin
  branch = master
[submodule "applications/editors/josm/plugins/OpeningHoursEditor"]
  path = applications/editors/josm/plugins/OpeningHoursEditor
  url = ../OpeningHoursEditor
  branch = master
[submodule "applications/editors/josm/plugins/addrinterpolation"]
  path = applications/editors/josm/plugins/addrinterpolation
  url = ../addrinterpolation
  branch = master
[submodule "applications/editors/josm/plugins/alignways"]
  path = applications/editors/josm/plugins/alignways
  url = ../alignways
  branch = master
[submodule "applications/editors/josm/plugins/buildings_tools"]
  path = applications/editors/josm/plugins/buildings_tools
  url = ../buildings_tools
  branch = master
[submodule "applications/editors/josm/plugins/cadastre-fr"]
  path = applications/editors/josm/plugins/cadastre-fr
  url = ../cadastre-fr
  branch = master
[submodule "applications/editors/josm/plugins/colorscheme"]
  path = applications/editors/josm/plugins/colorscheme
  url = ../colorscheme
  branch = master
[submodule "applications/editors/josm/plugins/czechaddress"]
  path = applications/editors/josm/plugins/czechaddress
  url = ../czechaddress
  branch = master
[submodule "applications/editors/josm/plugins/dataimport"]
  path = applications/editors/josm/plugins/dataimport
  url = ../dataimport
  branch = master
[submodule "applications/editors/josm/plugins/download_along"]
  path = applications/editors/josm/plugins/download_along
  url = ../download_along
  branch = master
[submodule "applications/editors/josm/plugins/editgpx"]
  path = applications/editors/josm/plugins/editgpx
  url = ../editgpx
  branch = master
[submodule "applications/editors/josm/plugins/epsg31287"]
  path = applications/editors/josm/plugins/epsg31287
  url = ../epsg31287
  branch = master
[submodule "applications/editors/josm/plugins/ext_tools"]
  path = applications/editors/josm/plugins/ext_tools
  url = ../ext_tools
  branch = master
[submodule "applications/editors/josm/plugins/globalsat"]
  path = applications/editors/josm/plugins/globalsat
  url = ../globalsat
  branch = master
[submodule "applications/editors/josm/plugins/gpxfilter"]
  path = applications/editors/josm/plugins/gpxfilter
  url = ../gpxfilter
  branch = master
[submodule "applications/editors/josm/plugins/graphview"]
  path = applications/editors/josm/plugins/graphview
  url = ../graphview
  branch = master
[submodule "applications/editors/josm/plugins/imageryadjust"]
  path = applications/editors/josm/plugins/imageryadjust
  url = ../imageryadjust
  branch = master
[submodule "applications/editors/josm/plugins/imagewaypoint"]
  path = applications/editors/josm/plugins/imagewaypoint
  url = ../imagewaypoint
  branch = master
[submodule "applications/editors/josm/plugins/importvec"]
  path = applications/editors/josm/plugins/importvec
  url = ../importvec
  branch = master
[submodule "applications/editors/josm/plugins/irsrectify"]
  path = applications/editors/josm/plugins/irsrectify
  url = ../irsrectify
  branch = master
[submodule "applications/editors/josm/plugins/lakewalker"]
  path = applications/editors/josm/plugins/lakewalker
  url = ../lakewalker
  branch = master
[submodule "applications/editors/josm/plugins/livegps"]
  path = applications/editors/josm/plugins/livegps
  url = ../livegps
  branch = master
[submodule "applications/editors/josm/plugins/mapdust"]
  path = applications/editors/josm/plugins/mapdust
  url = ../mapdust
  branch = master
[submodule "applications/editors/josm/plugins/measurement"]
  path = applications/editors/josm/plugins/measurement
  url = ../measurement
  branch = master
[submodule "applications/editors/josm/plugins/michigan_left"]
  path = applications/editors/josm/plugins/michigan_left
  url = ../michigan_left
  branch = master
[submodule "applications/editors/josm/plugins/multipoly"]
  path = applications/editors/josm/plugins/multipoly
  url = ../multipoly
  branch = master
[submodule "applications/editors/josm/plugins/multipoly-convert"]
  path = applications/editors/josm/plugins/multipoly-convert
  url = ../multipoly-convert
  branch = master
[submodule "applications/editors/josm/plugins/nearclick"]
  path = applications/editors/josm/plugins/nearclick
  url = ../nearclick
  branch = master
[submodule "applications/editors/josm/plugins/openstreetbugs"]
  path = applications/editors/josm/plugins/openstreetbugs
  url = ../openstreetbugs
  branch = master
[submodule "applications/editors/josm/plugins/openvisible"]
  path = applications/editors/josm/plugins/openvisible
  url = ../openvisible
  branch = master
[submodule "applications/editors/josm/plugins/osmarender"]
  path = applications/editors/josm/plugins/osmarender
  url = ../osmarender
  branch = master
[submodule "applications/editors/josm/plugins/pdfimport"]
  path = applications/editors/josm/plugins/pdfimport
  url = ../pdfimport
  branch = master
[submodule "applications/editors/josm/plugins/photo_geotagging"]
  path = applications/editors/josm/plugins/photo_geotagging
  url = ../photo_geotagging
  branch = master
[submodule "applications/editors/josm/plugins/piclayer"]
  path = applications/editors/josm/plugins/piclayer
  url = ../PicLayer
  branch = master
[submodule "applications/editors/josm/plugins/plastic_laf"]
  path = applications/editors/josm/plugins/plastic_laf
  url = ../plastic_laf
  branch = master
[submodule "applications/editors/josm/plugins/public_transport"]
  path = applications/editors/josm/plugins/public_transport
  url = ../public_transport
  branch = master
[submodule "applications/editors/josm/plugins/restart"]
  path = applications/editors/josm/plugins/restart
  url = ../restart
  branch = master
[submodule "applications/editors/josm/plugins/reverter"]
  path = applications/editors/josm/plugins/reverter
  url = ../reverter
  branch = master
[submodule "applications/editors/josm/plugins/rgisopen"]
  path = applications/editors/josm/plugins/rgisopen
  url = ../rgisopen
  branch = master
[submodule "applications/editors/josm/plugins/roadsigns"]
  path = applications/editors/josm/plugins/roadsigns
  url = ../roadsigns
  branch = master
[submodule "applications/editors/josm/plugins/routes"]
  path = applications/editors/josm/plugins/routes
  url = ../routes
  branch = master
[submodule "applications/editors/josm/plugins/routing"]
  path = applications/editors/josm/plugins/routing
  url = ../routing
  branch = master
[submodule "applications/editors/josm/plugins/simplifyarea"]
  path = applications/editors/josm/plugins/simplifyarea
  url = ../simplifyarea
  branch = master
[submodule "applications/editors/josm/plugins/smed"]
  path = applications/editors/josm/plugins/smed
  url = ../smed
  branch = master
[submodule "applications/editors/josm/plugins/smed_bfw"]
  path = applications/editors/josm/plugins/smed_bfw
  url = ../smed_bfw
  branch = master
[submodule "applications/editors/josm/plugins/smed_fw"]
  path = applications/editors/josm/plugins/smed_fw
  url = ../smed_fw
  branch = master
[submodule "applications/editors/josm/plugins/surveyor"]
  path = applications/editors/josm/plugins/surveyor
  url = ../surveyor
  branch = master
[submodule "applications/editors/josm/plugins/tageditor"]
  path = applications/editors/josm/plugins/tageditor
  url = ../tageditor
  branch = master
[submodule "applications/editors/josm/plugins/tagging-preset-tester"]
  path = applications/editors/josm/plugins/tagging-preset-tester
  url = ../tagging-preset-tester
  branch = master
[submodule "applications/editors/josm/plugins/terracer"]
  path = applications/editors/josm/plugins/terracer
  url = ../terracer
  branch = master
[submodule "applications/editors/josm/plugins/toms"]
  path = applications/editors/josm/plugins/toms
  url = ../toms
  branch = master
[submodule "applications/editors/josm/plugins/touchscreenhelper"]
  path = applications/editors/josm/plugins/touchscreenhelper
  url = ../touchscreenhelper
  branch = master
[submodule "applications/editors/josm/plugins/tracer"]
  path = applications/editors/josm/plugins/tracer
  url = ../tracer
  branch = master
[submodule "applications/editors/josm/plugins/trustosm"]
  path = applications/editors/josm/plugins/trustosm
  url = ../trustosm
  branch = master
[submodule "applications/editors/josm/plugins/turnrestrictions"]
  path = applications/editors/josm/plugins/turnrestrictions
  url = ../turnrestrictions
  branch = master
[submodule "applications/editors/josm/plugins/undelete"]
  path = applications/editors/josm/plugins/undelete
  url = ../undelete
  branch = master
[submodule "applications/editors/josm/plugins/utilsplugin2"]
  path = applications/editors/josm/plugins/utilsplugin2
  url = ../utilsplugin2
  branch = master
[submodule "applications/editors/josm/plugins/videomapping"]
  path = applications/editors/josm/plugins/videomapping
  url = ../videomapping
  branch = master
[submodule "applications/editors/josm/plugins/walkingpapers"]
  path = applications/editors/josm/plugins/walkingpapers
  url = ../walkingpapers
  branch = master
[submodule "applications/editors/josm/plugins/waydownloader"]
  path = applications/editors/josm/plugins/waydownloader
  url = ../waydownloader
  branch = master
[submodule "applications/editors/josm/plugins/waypoint_search"]
  path = applications/editors/josm/plugins/waypoint_search
  url = ../waypoint_search
  branch = master
[submodule "applications/editors/josm/plugins/wayselector"]
  path = applications/editors/josm/plugins/wayselector
  url = ../wayselector
  branch = master
[submodule "applications/editors/josm/plugins/wms-turbo-challenge2"]
  path = applications/editors/josm/plugins/wms-turbo-challenge2
  url = ../wms-turbo-challenge2
  branch = master
[submodule "applications/viewer/jmapviewer"]
  path = applications/viewer/jmapviewer
  url = ../jmapviewer
  branch = master
