[submodule "editors/josm/core"]
	path = editors/josm/core
	url = ../josm.git
	branch = master
[submodule "editors/josm/plugins/areaselector"]
  path = editors/josm/plugins/areaselector
  url = ../areaselector.git
  branch = master
[submodule "editors/josm/plugins/austriaaddresshelper"]
  path = editors/josm/plugins/austriaaddresshelper
  url = ../austriaaddresshelper.git
  branch = master
[submodule "editors/josm/plugins/auto-tools"]
  path = editors/josm/plugins/auto-tools
  url = ../auto-tools.git
  branch = master
[submodule "editors/josm/plugins/building_generalization"]
  path = editors/josm/plugins/building_generalization
  url = ../Building-Generalization.git
  branch = master
[submodule "editors/josm/plugins/changeset-viewer"]
  path = editors/josm/plugins/changeset-viewer
  url = ../changeset-viewer.git
  branch = master
[submodule "editors/josm/plugins/configuration"]
  path = editors/josm/plugins/configuration
  url = ../configuration.git
  branch = master
[submodule "editors/josm/plugins/conflation"]
  path = editors/josm/plugins/conflation
  url = ../conflation.git
  branch = master
[submodule "editors/josm/plugins/continuosDownload"]
  path = editors/josm/plugins/continuosDownload
  url = ../continuos-download.git
  branch = master
[submodule "editors/josm/plugins/Dxf-Import"]
  path = editors/josm/plugins/Dxf-Import
  url = ../Dxf-Import.git
  branch = master
[submodule "editors/josm/plugins/indoorhelper"]
  path = editors/josm/plugins/indoorhelper
  url = ../indoorhelper.git
  branch = master
[submodule "editors/josm/plugins/improve-way"]
  path = editors/josm/plugins/improve-way
  url = ../improve-way.git
  branch = master
[submodule "editors/josm/plugins/kartverketimport"]
  path = editors/josm/plugins/kartverketimport
  url = ../kartverketimport.git
  branch = master
[submodule "editors/josm/plugins/Mapillary"]
  path = editors/josm/plugins/Mapillary
  url = ../mapillary.git
  branch = master
[submodule "editors/josm/plugins/osm-obj-info"]
  path = editors/josm/plugins/osm-obj-info
  url = ../osm-obj-info.git
  branch = master
[submodule "editors/josm/plugins/PicLayer"]
  path = editors/josm/plugins/PicLayer
  url = ../PicLayer.git
  branch = master
[submodule "editors/josm/plugins/pt_assistant"]
  path = editors/josm/plugins/pt_assistant
  url = ../pt_assistant.git
[submodule "editors/josm/plugins/rex"]
  path = editors/josm/plugins/rex
  url = ../rex.git
  branch = master
[submodule "editors/josm/plugins/shapetools"]
  path = editors/josm/plugins/shapetools
  url = ../ShapeTools.git
  branch = master
[submodule "editors/josm/plugins/todo"]
  path = editors/josm/plugins/todo
  url = ../todo.git
  branch = master
[submodule "editors/josm/plugins/turnlanes-tagging"]
  path = editors/josm/plugins/turnlanes-tagging
  url = ../turnlanes-tagging.git
  branch = master
[submodule "editors/josm/plugins/validations_testing"]
  path = editors/josm/plugins/validations_testing
  url = ../validations_testing.git
  branch = master
[submodule "editors/josm/plugins/wikipedia"]
  path = editors/josm/plugins/wikipedia
  url = ../wikipedia.git
  branch = master
